# 国内网络环境下加快依赖与 Electron 二进制下载速度（可自行删除，不影响功能）
registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
